---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="w-screen h-screen flex flex-col items-center justify-center relative">
      <iframe
        src="/html/frame_conway.html"
        class="top-0 left-0 w-full h-full z-0 transition-all absolute"
        transition:name="bg-iframe"></iframe>
        <About />
        <Footer />
    </main>
  </body>
</html>