---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Button from "../../components/Button.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("ca");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`404 ${t("error.404")} | ${t("site.title")}`}
      description={t("site.description")}
    />
  </head>
  <body>
    <Header isWork />
    <img
    src="https://framerusercontent.com/images/CjzRK9qJBzg7lpVfLBIE8nOT1pU.png"
    alt="alex malvehy brand background"
    id="frame"
    class="top-0 left-0 w-screen h-screen z-0 fixed object-cover"
    style="object-position:20%;"
  />
    <div
      class="w-screen h-screen flex flex-col items-center justify-center gap-3 z-10 relative"
    >
      <h1 class="m-0 text-center" style="font-size:100px;">404</h1>
      <h2
        class="m-0 -translate-y-3 text-[#70F1B0] text-4xl sm:text-5xl font-[InstrumentSans]"
      >
        {t("error.404")}
      </h2>
      <Button href="/" text={t("button.home")} />
    </div>
  </body>
</html>
