---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import AboutComponent from "../../components/About.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("ca");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${t("header.about")} | ${t("site.title")}`} description={t("site.description")} />
  </head>
  <body>
    <Header />
    <main class="w-screen h-screen flex flex-col items-center justify-center relative">
      <iframe
        src="/html/frame_conway.html"
        class="top-0 left-0 w-full h-full z-0 transition-all absolute"
        transition:name="bg-iframe"></iframe>
        <AboutComponent />
        <Footer />
    </main>
  </body>
</html>