---
import { t } from "i18next";
import Button from "../components/Button.astro";

const { blob } = Astro.props;
---

<div
  class="w-[90%] sm:w-auto max-w-[750px] flex md:flex-row flex-col-reverse md:items-center gap-3 overflow-hidden"
>
  <img
    src="/img/blob-1.webp"
    alt=""
    class={`${blob ? "visible" : "hidden"} w-[2000px] sm:w-[600px] -translate-x-32 -translate-y-16 sm:translate-y-0 rotate-180 absolute`}
  />
  <div class="fadeup md:w-[calc(100%-13rem)] w-[95%] z-10 relative">
    <h1
      class="md:translate-x-6 text-[MGNHumble] md:text-7xl text-6xl text-white md:text-right"
    >
      {t("header.about")}
    </h1>
    <p
      class="md:text-right flex flex-col items-begin justify-end relative leading-7 font-medium"
    >
      {t("about.catchHome")}
      <span
        class={`${blob} ? "visible" : "hidden"} mt-3 inline-block relative`}
      >
        <Button
          text={t("button.more")}
          href="/about"
          class="font-medium"
          nohide
        />
      </span>
    </p>
  </div>
  <div
    id="hover-space"
    class="fadeup opacity-0 inline-block overflow-hidden relative"
    style="animation-delay: 200ms;"
  >
    <img
      alt="alex malvehy face"
      src="/img/am_face.png"
      class="left-1/2 sm:left-auto -translate-x-1/2 scale-110 sm:scale-100 translate-y-3 sm:translate-y-0 sm:translate-x-0 w-32 sm:w-[17rem] h-32 sm:h-64 sm:aspect-square z-10 relative"
    />
    <img
      alt="alex malbehy background"
      src="/img/am_bg.png"
      class="w-full sm:w-72 top-0 translate-y-3 sm:translate-x-0 h-52 sm:h-72 object-cover z-0 absolute"
    />
  </div>
</div>
