---
import HeaderLink from './HeaderLink.astro';
---
<header class="p-8 w-full h-20 z-50 relative">
	<nav class="flex flex-row items-center justify-between gap-5">
		<h2><a href="/"><img src="/img/am.svg" alt="Go home" width="70px"></a></h2>
		<div class="flex-row items-center gap-9 internal-links sm:flex hidden">
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/work">work</HeaderLink>
			<HeaderLink href="/contact">contact</HeaderLink>
			<button class="btn" onclick="document.getElementById('dropdown').classList.toggle('hidden');"><img src="https://unpkg.com/pixelarticons@1.8.1/svg/menu.svg" alt="Socials" class="invert w-8 h-8 opacity-60 hover:opacity-100 transition-all"/></button>
			<div id="dropdown" class="top-20 right-8 dropdown-content absolute hidden bg-black border border-white text-white shadow-lg opacity-60 hover:opacity-100 mt-0 p-1 z-10">
				<a>Twitter</a>
				<a>Behance</a>
				<a>YouTube</a>
				<a>Instagram</a>
				<a>LinkedIn</a>
			</div>
		</div>
	</nav>
</header>
