---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  id={href?.toString()}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>

<style>
  a {
    font-family: "InstrumentSans", system-ui;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff60;
    display: inline-block;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    a {
      font-family: "MGNHumble", system-ui !important;
      font-size: 50px !important;
    }
  }

  a:hover {
    color: #ffffff90;
  }
  a.active {
    color: #ffffff;
  }
  span {
    display: inline-block;
    transition: font-family 0.3s ease;
  }
  .hovered {
    font-family: "MGNHumble", system-ui !important;
  }
</style>
