---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<header class="p-8 w-full h-20 z-50 relative">
	<nav class="flex flex-row items-center justify-between gap-5">
		<h2><a href="/"><img src="/img/am.svg" alt="Go home" width="70px"></a></h2>
		<div class="flex-row items-center gap-6 internal-links sm:flex hidden">
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/work">work</HeaderLink>
			<HeaderLink href="/contact">contact</HeaderLink>
			<button class="btn"><img src="https://unpkg.com/pixelarticons@1.8.1/svg/menu.svg" alt="Socials" class="invert w-8 h-8"/></button>
		</div>
	</nav>
</header>
